@page "/parametervalues"

<h3>ParameterValues</h3>

<p>This page demonstrates including a razor compenent and passing it values</p>

<TestSection text="this text is specified in the parameter values pages"></TestSection>

@code {

}
